/docs/
/lib/
/bin/
/.shards/
*.dwarf
/assets/

# Libraries don't need dependency lock
# Dependencies will be locked in application that uses them
/shard.lock

.idea

# CMake ignores
cmake-build-debug
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CPack*
cmake
build