class {{ name_module }}::WorldSystem
  include Entitas::Systems::InitializeSystem
  include Entitas::Systems::ExecuteSystem

  protected property contexts : Contexts
  protected property actors : Entitas::Group(GameEntity)

  def initialize(@contexts)
    @actors = @contexts.game.get_group(GameMatcher.all_of(GameMatcher.actor))
  end

  def init
    config_service = contexts.meta.config_service.instance

    # ////////////////////////////////////////////////////
    # TODO: Initialize your world here!
    # ////////////////////////////////////////////////////

    # Create player
    player = contexts.game
      .create_entity
      .add_actor(name: "player")
      .add_position(Oid::Vector3.zero)

    # Create camera
    camera = contexts.game.create_entity
      .add_camera(
        {% if camera_3d %}
        value: Oid::Camera3D.new(
          position: Oid::Vector3.new(10, 10, 10),
          target: player.actor,
          rotation: Oid::Vector3.new(0, 1, 0),
          fov_y: 45.0,
          type: Oid::Camera::Type::Perspective
        )
        {% else %}
        value: Oid::Camera2D.new(
          target: player.actor,
          offset: Oid::Vector2.zero,
        )
        {% endif %}
      )
  end

  def execute
    actors.each do |entity|
      entity = entity.as(GameEntity)

      # ////////////////////////////////////////////////////
      # TODO: Add game logic!
      # ////////////////////////////////////////////////////
    end
  end
end
