# Define default settings here
CONFIG = {
  app_name:            "{{ name_module }}",
  screen_w:            800,
  screen_h:            600,
  target_fps:          120,
  show_fps:            true,
  enable_mouse:        true,
  enable_keyboard:     true,
  camera_mode:         "2d",

  # ////////////////////////////////////////////////////
  # TODO: Set your asset path here
  # ////////////////////////////////////////////////////
  asset_path:          "./assets",

}

Oid::Systems::EmitInput.listen_for_keys(

  # ////////////////////////////////////////////////////
  # TODO: Define any keys you would like to listen for here!
  # ////////////////////////////////////////////////////

  Right,
  Left,
  Up,
  Down
)

class {{ name_module }}::ConfigService < {{ gfx_class }}::ConfigService
  # ////////////////////////////////////////////////////
  # TODO: Add custom settings here
  # add_settings(
  #   board_size : Oid::Vector2 = Oid::Vector2.new(10, 10),
  #   blocker_probability : Float64 = 0.1,
  # )
  # ////////////////////////////////////////////////////
end
